---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Sozialer Druck und Hierarchien: Warum die meisten der Masse folgen

			</h1>
			<p>
				Unsere Gesellschaft ist von unsichtbaren Regeln geprägt – sozialen Hierarchien, Gruppenzwängen und Erwartungen, die uns sagen, wie wir sein und handeln sollen. Wer nicht ins Schema passt, wird oft ausgegrenzt oder hinterfragt sich selbst. Viele Menschen ordnen sich unter, um dazuzugehören, und verlieren dabei ihre Individualität. Doch es gibt auch diejenigen, die sich bewusst gegen diesen Druck stellen – die sich nicht anpassen, sondern ihren eigenen Weg gehen. Diese unabhängigen Persönlichkeiten nennt man Sigma-Männer. Doch was genau macht sie aus, und wie kann man selbst lernen, sich von der Masse zu lösen? 
			</p>
			
			
		</main>
		<Footer />
	</body>
</html>
